body{
    margin: 0;
    color: black;
}
nav{
    display: flex;
    justify-content: space-around;
    color: black;
}
ul{
    display: inline-flex;
    gap:40px;
    justify-content: space-between;
}
li{
    display: inline-block;
}
main{
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
div{
    justify-content:space-between;
    gap: 20px;

}
.about{
    background-color: #32CD32;

}

